
  .knobs,
  .k2,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  
  .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
  }
  
  .knobs {
    z-index: 3;
  }
  #button-1 .k2:before,
  #button-1 .k2:after {
    color: #4e4e4e;
    z-index: 2;
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
  }

  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    font-family: "Font Awesome 6 Free";
    content: "\f256";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    line-height: 0.5;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "\f183";
    left: 42px;
    background-color: #f44336;
    font-weight: 900;
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  

  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .k2,
  #button-1 .k2:before,
  #button-1 .k2::after,
  #button-1 .layer {
    transition: 0.3s ease all;
  }


  #button-1 .k2:before {
    content: "全身";
    left: 4px;
  }
  
  #button-1 .k2:after {
    content: "手";
    right: 4px;
  }

/*button-2*/


  #button-2 .k2:before,
  #button-2 .k2:after {
    color: #4e4e4e;
    z-index: 2;
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
  }

  /* Button 1 */
  #button-2 .knobs:before {
    font-family: "Font Awesome 6 Free";
    content: "\f011";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    line-height: 0.5;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-2 .checkbox:checked + .knobs:before {
    content: "\f011";
    left: 42px;
    background-color: #f44336;
    font-weight: 900;
  }
  
  #button-2 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  

  #button-2 .knobs,
  #button-2 .knobs:before,
  #button-2 .k2,
  #button-2 .k2:before,
  #button-2 .k2::after,
  #button-2 .layer {
    transition: 0.3s ease all;
  }


  #button-2 .k2:before {
    content: "ON";
    left: 4px;
  }
  
  #button-2 .k2:after {
    content: "OFF";
    right: 4px;
  }